<div class="header">
  <h1 class="header__name">VOTING</h1>
  <div class="form">
    <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid&&vote()" autocomplete="off">
      <mat-form-field class="formfield">
        <mat-select matInput placeholder="Branch" formControlName="branch">
          <mat-option *ngFor="let branch of branches"
                      [value]="branch">{{CommonUtil.getBranchTitle(branch)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button">
        <button class="btn btn-primary" type="submit">Vote</button>
      </div>
    </form>
  </div>
</div>
