<div class="register">
<mat-card class="mat-card">
  <mat-card-header>
    <div class="header">
      <h1 class="header__name text-center">SAKSHAM<span class="header__year"> '19</span></h1>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="padding-top:10%">
<img src="assets/splash.gif">
        </div>
        <div class="col-md-6">
          <div class="form">
            <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid&&register()" autocomplete="off">
              <mat-form-field >
                <input matInput placeholder="Name" formControlName="fullName" autocomplete="false">
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Contact Number" formControlName="mobileNumber">
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Student Number" formControlName="studentNumber">
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
              <mat-form-field >
                <mat-select matInput placeholder="Branch" formControlName="branch">
                  <mat-option *ngFor="let branch of branches"
                              [value]="branch">{{CommonUtil.getBranchTitle(branch)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select matInput placeholder="Year" formControlName="year">
                  <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field >
                <mat-select matInput placeholder="Gender" formControlName="gender">
                  <mat-option *ngFor="let gender of genders"
                              [value]="gender">{{CommonUtil.getGenderTitle(gender)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field >
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let sport of selectedSports" [selectable]="true" [removable]="true"
                            (removed)="removeSports(sport) ">{{CommonUtil.getSportsTitle(sport)}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Sports" formControlName="sport" [matAutocomplete]="auto"
                         [matChipInputFor]="chipList">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSports($event.option.value)">
                  <mat-option *ngFor="let sport of sports"
                              [value]="sport">{{CommonUtil.getSportsTitle(sport)}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field>
                <mat-select matInput placeholder="Hosteler" formControlName="hosteler">
                  <mat-option *ngFor="let hosteler of hostelers"
                              [value]="hosteler">{{CommonUtil.getHostelerTitle(hosteler)}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="captcha">
                <ngx-recaptcha2 style="text-align: center" #captchaElem
                                [siteKey]="'6LfisrQUAAAAAM4NGVIC_yRsjryeVzxj5RFupekl'"
                                (reset)="handleReset()"
                                (expire)="handleExpire()"
                                (load)="handleLoad()"
                                (success)="handleSuccess($event)"
                                formControlName="recaptcha">
                </ngx-recaptcha2>
              </div>

              <div class="button3 d-flex justify-content-center">
                <div class="button3-content d-flex justify-content-center" (click)="register()">Register</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
</div>
