.button3 {
  background-color: #088308;
  margin: 15px auto;
  width: 100px;
  height: 50px;
  border: 2px;
  border-radius: 10px;
  overflow: hidden;
  transition: all .5s;
}

.button3:hover {
  width: 50px;
  background-color: rgba(255, 244, 255, 1);
  border: 2px dotted rgba(8, 131, 8);
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all .5s;
}

.button3-content {
  display: block;
  position: relative;
  width: 75px;
  height: 50px;
  font-family: arial;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 14px;
  line-height: 45px;
  left: 0px;
  transition: all .5s;
}

.button3:hover .button3-content {
  left: -103px;
  transition: all .5s;
}

.button3-content:after {
  position: absolute;
  width: 75px;
  height: 40px;
  top: -1px;
  left: 113px;
  content: '(:';
  font-size: 45px;
  color: rgba(8, 131, 8);
}

.button3:active .button3-content:after {
  content: '♥';
  transform: rotate(90deg);
  top: 0px;
}

.captcha {
  margin: 20px;
  display: flex;
  justify-content: center
}

.header {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: bold;
    letter-spacing: 1.1px;
  }

  h5 {
    margin: 10px 0;
    letter-spacing: 1.1px;
  }

  &__name {
    color: rgba(8, 131, 8);
    font-family: Krunch;
  }

  &__year {
    color: #808080;
    font-family: Krunch;
  }
}

.slideShowContainer {
  .slideShow {
    position: relative;

    .slideShowImages {
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 420px;
    }
  }

  @media screen and (max-width: 786px) {
    display: none;

  }
}
.register{
  background-image:url("../../../../assets/background.jpg");
  background-size: cover;
  padding: 10%;
}

@font-face {
  font-family: Friday;
  src: url("../../../../assets/fridayfont.ttf");
}

@font-face {
  font-family: Krunch;
  src: url("../../../../assets/krunch.ttf");
}

.mat-card{
  border-radius: 20px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ededed !important;
}

