<div class="card">
  <div class="row text-center">
    <div class="col-md-12 text-center"><img [src]="CommonUtils.getSportIcon(sportName)" alt="{{sportName}}"></div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="col-left"><b>{{branch1}}</b></div>
      <div class="col-right"><b>{{branch2}}</b></div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12" style="padding-bottom: 2vh"><b>{{date}}<br>{{venue}}</b></div>
    <div class="col-md-12" style="padding-bottom: 2vh"><b>{{timeStart}}-{{timeEnd}}</b></div>
  </div>
</div>

