<div class="container-fluid">
  <div class="row schedule">
    <div class="col-md-12 text-center">
      <div class="schedule-header"><span style="color: #ee7700">TODAY'S</span>&nbsp;MATCHES</div>
    </div>
    <div class="col-md-12">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
          <div class="slide">
            <app-carousel-card></app-carousel-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
