.fluid-container {
  background-image: url("../../../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
    img {
      padding: 10px;
      height: 75px;
      width: 75px;
    }
  .header {
    float: left;
  }
  .nav {
    float: right;
    padding-top: 15px;
    padding-right: 50px;
    ul {
      list-style-type: none;
    }
    li {
      display: inline;
      padding: 20px;
    }
    a {
      text-decoration: none;
      color: slategray;
    }
  }

  .mainbody {
    padding-top: 250px;
    padding-left: 90px;
    color: white;

    button {
      margin-top: 20px;
      padding: 10px 25px;
      border-radius: 40px;
    }
  }

  .schedule {
    background-color: gainsboro;
    width: 100%;
    height: 600px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .schedule-body {
    margin-top: 50px;
  }

  .schedule-header {
    font-family: "fantasy";
    text-align: center;
    padding-top: 50px;
  }

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: 30px 30px;
  display: inline-block;
  padding: 30px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.schedule-body .vertical {
  border-left: 6px solid green;
  height: 50px;
  position:absolute;
  left: 4%;
}


.overview {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../../assets/sports.jpg');
  background-size: cover;
  width: 100%;
  height: 600px;
}

.overview-header {
  padding-top: 200px;
  text-align: center;
  color: white;
}

.overview-body {
  color: white;
  padding-left: 200px;
  padding-top: 100px;
  display: inline-block;
}

.overview-vertical {
  border-left: 6px solid green;
  height: 50px;
  position:absolute;
  left: 25%;
}

.team {
  color: white;
  background-color: gainsboro;
  width: 80%;
  //height: 800px;
  padding-left: 70px;
  padding-right: 70px;
}

.team-header {
  //font-family: "fantasy";
  text-align: center;
  padding-top: 50px;
}

.team-member {
  //padding: 50px;
}

.team-card {
  position: relative;
  top: -5em;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  color: black;
  padding-top: 35%;
  padding-bottom: 20%;
}

.team-member img {
  height: 11rem;
  width: 11rem;
  position: relative;
  z-index: 2;
  border: 3px solid white;
  border-radius: 50%;
  left: 13%;
}

.team-image {
 // padding-top: 10%;
  position: relative;
}

.team-hr{
  width: 80%;
  border-top: 2px solid black;
}

.details {
  color: white;
  text-align: left;
  padding: 7%;
}

.details .vertical {
    border-left: 4px solid white;
    height: 12%;
    position:absolute;
    left: 6%;
}

.details p {
  padding-top: 4%;
}

.contact {
  color: white;
  text-align: right;
  padding: 7%;
}

.contact .vertical {
  border-right: 4px solid white;
  height: 12%;
  position:absolute;
  //float: right;
  right: 6%;
}

.contact p {
  padding-top: 4%;
}

.contact-hr{
  width: 80%;
  border-top: 2px solid white;
}

.footer {
  color: white;
  padding: 1%;
}
