.main {
  background-image: url("../../../../assets/bg.jpg");
  background-size: cover;
  padding-bottom: 10vh;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  padding: 10px;
  height: 75px;
  width: 75px;
}

.header {
  float: left;
}

.nav {
  float: right;
  padding-top: 15px;
  padding-right: 50px;
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: slategray;
  }
}

.mainbody {
  padding-top: 15%;
  padding-left: 10%;
  color: white;

  button {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 40px;
  }
}

@media(max-width: 767px) {
  .mainbody {
    padding-top: 95%;
  }
  .schedule-body-header {
    padding-left: 5%;
  }
  .overview-header {
    padding-top: 15%;
  }
  .overview {
    padding-top: 10%;
    padding-bottom: 20%;
  }
  .overview_matches {
    padding-top: 1%;
    padding-bottom: 5%;
  }

  .overview-vertical {
    display: none;
  }
}

.schedule {
  background-color: gainsboro;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.schedule-body {
  margin-top: 50px;
}

.schedule-header {
  font-family: "fantasy";
  padding-top: 50px;
  padding-bottom: 4vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 4vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.col-left {
  float: left;
  padding-left: 13%;
}

.col-right {
  float: right;
  padding-right: 13%;
}

.schedule-body .vertical {
  border-left: 6px solid green;
  height: 50px;
  position: absolute;
  left: 4%;
}

.overview {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/sports.jpg');
  background-size: cover;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.overview_matches {
  padding-bottom: 10%;
  padding-top: 5vh;
}

.overview-header {
  padding-bottom: 5%;
}

.overview-vertical {
  border-left: 5px solid white;
  height: 80px;
  position: absolute;
  //left: 25%;
}

.details {
  color: white;
  text-align: left;
  padding: 7%;
}

.details .vertical {
  border-left: 4px solid white;
  height: 12%;
  position: absolute;
  left: 6%;
}

.details p {
  padding-top: 4%;
}

.contact {
  color: white;
  text-align: right;
  padding: 7%;
}

.contact .vertical {
  border-right: 4px solid white;
  height: 12%;
  position: absolute;
  //float: right;
  right: 6%;
}

.contact p {
  padding-top: 4%;
}

.contact-hr {
  width: 80%;
  border-top: 2px solid white;
}

.footer {
  color: white;
  padding: 1%;
}

.responsive {
  width: 100%;
  height: auto;
}

.team-header{
  margin-top: 50px;
  margin-bottom: 100px;
}

.profile-container {
  margin: 0 auto;
  padding-bottom: 50px;
}
