<app-navbar></app-navbar>
<div class="home" id="home">

  <div class="wrapper">

    <div class="banner" id="layerSlider" style="width: 100%;">

      <div class="ls-slide" data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;">

        <img src="assets/banner/background01.jpg" class="ls-bg" alt="Slide background">

        <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;"
             data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;">
          <img src="assets/banner/player.png" alt="innerimage" class="img-responsive"
               style="max-width: 80% !important ;margin-top: -120px !important;">
        </div>
        <img src="assets/banner/ball.png" alt="innerimage" class="ls-l layercontent02"
             style="z-index:5; max-width: 50% !important;"
             data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
        <img src="assets/banner/front_particles.png" alt="particles" class="ls-l" style="z-index:3; left:0;"
             data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <img src="assets/banner/back_particles.png" alt="particles" class="ls-l" style="z-index:3; left:50%;"
             data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
          Saksham</h2>
        <h2 class="ls-l bannertext01 italic01 layercontent04" data-ls="offsetxin:left; scalexin:9; durationin: 4000;">
          2019</h2>
        <button class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
<div class="rest">
  <div class="container-fluid" id="schedule">
    <div class="row schedule">
      <div class="col-md-12 text-center">
        <div class="schedule-header"><h3><span style="color: #ee7700">TODAY'S</span>&nbsp;MATCHES</h3></div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="row text-center">
            <div class="col-md-12 text-center"><img src="/assets/images/badminton.png"></div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              <div class="col-left"><b>CSE</b></div>
              <div class="col-right"><b>IT</b></div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12" style="padding-bottom: 3vh"><b>VERSUS<br>FOOTBALL GROUND</b></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="row text-center">
            <div class="col-md-12 text-center"><img src="/assets/images/badminton.png"></div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              <div class="col-left"><b>CSE</b></div>
              <div class="col-right"><b>IT</b></div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12" style="padding-bottom: 3vh"><b>VERSUS<br>FOOTBALL GROUND</b></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="row text-center">
            <div class="col-md-12 text-center"><img src="/assets/images/badminton.png"></div>
          </div>
          <div class="row text-center">
            <div class="col-md-12">
              <div class="col-left"><b>CSE</b></div>
              <div class="col-right"><b>IT</b></div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12" style="padding-bottom: 3vh"><b>VERSUS<br>FOOTBALL GROUND</b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row overview">
      <div class="col-md-12">
        <div class="overview-header text-center">
          <h1><span style="color: #ee7700">THRIVE TO BE THE</span> BEST</h1>
        </div>
      </div>
      <div class="col-md-3">
        <div class="overview_matches text-center">
          <h2 [countUp]="234" [options]="options">0<br></h2>
          <h2><span style="color: #ee7700">MATCHES</span></h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="overview_matches text-center">
          <div class="overview-vertical"></div>
          <h2 [countUp]="400" [options]="options">0<br></h2>
          <h2><span style="color: #ee7700">PARTICIPANTS</span></h2>
        </div>
      </div>

      <div class="col-md-3">
        <div class="overview_matches text-center">
          <div class="overview-vertical"></div>
          <h2 [countUp]="6">0<br></h2>
          <h2><span style="color: #ee7700">TEAMS</span></h2>
        </div>
      </div>


      <div class="col-md-3">
        <div class="overview_matches text-center">
          <div class="overview-vertical"></div>
          <h2>1<br> <span style="color: #ee7700">CHAMPION</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid about">
    <div class="row">
      <div class="text-center col-12 col-md-12 col-sm-12 col-lg-12 my-4">
        <h1>
          <span style="color: #ee7700">THE INTER DEPARTMENTAL</span> SPORTS MEET
        </h1>
      </div>
    </div>
    <div class="container">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's-->
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
    <div class="medal">
      <button class="button" (click)="medalTally()">Medal's Tally</button>
    </div>
  </div>


  <app-register id="register"></app-register>
  <div class="container-fluid" id="team" style="background-color: gainsboro;">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="team-header"><h1>THE <span style="color: #ee7700"> TEAM</span></h1></div>
      </div>
      <div class="col-md-4">
        <app-profile name="Prof. V K Parashar" profilePic="/assets/images/parashar.jpg"
                     role="Dean Student Welfare"></app-profile>
      </div>
      <div class="col-md-4">
        <app-profile name="Mr. Pratap Singh" profilePic="/assets/images/pratap.png" role="Sports Officer"></app-profile>
      </div>
      <div class="col-md-4">
        <app-profile name="Ishit Bansal" profilePic="/assets/images/organiser.jpg" role=" Student Organising Head"
        ></app-profile>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="team-header"><h1>COLLEGE <span style="color: #ee7700"> CAPTAINS</span></h1></div>
      </div>
      <span style="margin-left: 17%"></span>
      <div class="col-md-4">
        <app-team name="Utakarsh Srivasatav" profilePic="/assets/images/caption.jpg"></app-team>
      </div>
      <div class="col-md-4">
        <app-team name="Moullisha Singh" profilePic="/assets/images/vicecaption.jpg"></app-team>
      </div>
      <div class="col-md-offset-2"></div>

      <hr class="team-hr">
    </div>

  </div>
  <div class="container-fluid" style="background-color: #c9c9c9;">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="team-header"><h1>DEV<span style="color: #ee7700">ELOPERS</span></h1></div>
      </div>
      <div class="col-md-3">
        <app-team name="Manvi Srivastava" profilePic="/assets/images/1713067.jpeg"></app-team>
      </div>
      <div class="col-md-3">
        <app-team name="Shikhar Agarwal" profilePic="/assets/images/1731161.jpeg"></app-team>
      </div>
      <div class="col-md-3">
        <app-team name="Sparsh  Gupta" profilePic="/assets/images/sparsh.jpg"></app-team>
      </div>
      <div class="col-md-3">
        <app-team name="Tanya Srivastava" profilePic="/assets/images/1710154.jpg"></app-team>
      </div>
    </div>
  </div>

  <div class="container-fluid profile-container" id="contact" style="background-color: black;">
    <div class="area" style="z-index:99">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="details">
          <div class="vertical"></div>
          <h3>Other Details Here</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact">
          <div class="vertical"></div>
          <h3>Contact Details Here</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </div>
    <hr class="contact-hr">
    <div class="row">
      <div class="col-md-12">
        <div class="footer text-center">
          Powered by TEAM CONATUS
        </div>
      </div>
    </div>
  </div>
