<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>


<app-navbar></app-navbar>
<div class="home" id="home">

  <div class="wrapper">

    <div class="banner" id="layerSlider" style="width: 100%;">

      <div class="ls-slide" data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;">

        <img src="assets/banner/background01.jpg" class="ls-bg" alt="Slide background">

        <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;"
             data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;">
          <img src="assets/banner/player.png" alt="innerimage" class="img-responsive" style="max-width: 80% !important">
        </div>
        <img src="assets/banner/ball.png" alt="innerimage" class="ls-l layercontent02"
             style="z-index:5; max-width: 50% !important;"
             data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
        <img src="assets/banner/front_particles.png" alt="particles" class="ls-l" style="z-index:3; left:0;"
             data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <img src="assets/banner/back_particles.png" alt="particles" class="ls-l" style="z-index:3; left:50%;"
             data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">
        <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
          Saksham</h2>
        <h2 class="ls-l bannertext01 italic01 layercontent04" data-ls="offsetxin:left; scalexin:9; durationin: 4000;">
          2019</h2>
        <button class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;"
                (click)="voting()">
          Voting
        </button>
      </div>
    </div>
  </div>
</div>

<div class="rest">
  <app-carousel></app-carousel>
  <div class="container-fluid">
    <div class="row overview text-center">
      <div class="col-md-12">
        <div class="overview-header text-center">
          <h1><span style="color: #ed7737">THRIVE TO BE THE</span> BEST</h1>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-offset-2 col-xs-offset-2"></div>
      <div class="col-md-2">
        <div class="spinner">
          <round-progress [current]="30" [max]="100" [color]="'#ED7737'" [radius]="80" [stroke]="8"
                          [duration]="1500"></round-progress>
          <div class="count1">
            <h2 [countUp]="234" [options]="options">0<br></h2>
            <h2><span style="color: #ee7700">MATCHES</span></h2>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="spinner">
          <round-progress [current]="80" [max]="100" [color]="'#ED7737'" [radius]="80" [stroke]="8"
                          [duration]="1500"></round-progress>
          <div class="count2">
            <h2 [countUp]="400" [options]="options">0<br></h2>
            <h2><span style="color: #ee7700">PARTICIPANTS</span></h2>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="spinner">
          <round-progress [current]="60" [max]="100" [color]="'#ED7737'" [radius]="80" [stroke]="8"
                          [duration]="1500"></round-progress>
          <div class="count3">
            <h2 [countUp]="6">0<br></h2>
            <h2><span style="color: #ee7700">TEAMS</span></h2>
          </div>
        </div>
      </div>


      <div class="col-md-2">
        <div class="spinner">
          <round-progress [current]="100" [max]="100" [color]="'#ED7737'" [radius]="80" [stroke]="8"
                          [duration]="1500"></round-progress>
          <div class="count4">
            <h2>1<br> <span style="color: #ee7700">CHAMPION</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid about">
    <div class="row">
      <div class="text-center col-12 col-md-12 col-sm-12 col-lg-12 my-4">
        <h1>
          <span style="color: #ffffff">THE INTER DEPARTMENTAL</span> SPORTS MEET
        </h1>
      </div>
      <div class="content">
        <p>INTER-DEPARTMENTAL SPORTS EVENT (IDSE) is the Annual Sports Meet of Ajay Kumar Garg Engineering College,
          Ghaziabad. The aim is to ensure the physical development of the students, along with the holistic and
          all-round development. The event comprises of the following 7 contingents: ME, CS, ECE, IT, EN, CE+EI,
          MBA+MCA.
        </p>
      </div>
    </div>
    <div class="medal">
      <button class="button" (click)="medalTally()">Medal's Tally</button>
    </div>
  </div>


  <app-register id="register"></app-register>

  <div class="container-fluid" id="team"
       style="background-image: url('/assets/blackbg.jpg'); background-repeat: no-repeat; background-size: cover">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="team-header"><h1>THE <span style="color: #ee7700"> TEAM</span></h1></div>
      </div>
      <div class="containerx">
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"> <img src="/assets/images/parashar.jpg"/><span>Prof. V. K. Parashar</span></a>
          </div>
        </div>
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"><img src="/assets/images/pratap.png"/><span>Mr. Pratap Singh</span></a>
          </div>
        </div>
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"><img src="/assets/images/organiser.jpg"/><span>Ishit Bansal</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="team-header"><h1>COLLEGE <span style="color: #ee7700"> CAPTAINS</span></h1></div>
      </div>
      <span style="margin-left: 10%"></span>
      <div class="containerx">
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"> <img src="/assets/images/caption.jpg"/><span>Utkarsh Srivastava</span></a>
          </div>
        </div>
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"><img src="/assets/images/vicecaption.jpg"/><span>Moullisha Singh</span></a>
          </div>
        </div>
      </div>

      <hr class="team-hr">
    </div>

  </div>
  <div class="container-fluid" style="background-image: url('/assets/devbg.jpg');">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="team-header"><h1><span style="color: black"> DEV</span><span style="color: #ee7700">ELOPERS</span>
        </h1></div>
      </div>
      <div class="dev">
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"> <img src="/assets/images/1713067.jpeg"><span>Manvi Srivastava</span></a>
          </div>
        </div>
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"><img src="/assets/images/1731161.jpeg"/><span>Shikhar Agarwal</span></a>
          </div>
        </div>
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"><img
            src="/assets/images/sparsh.jpg"/><span>Sparsh Gupta</span></a></div>
        </div>
        <div class="thumbex">
          <div class="thumbnail"><a href="javascript:void(0)"><img src="/assets/images/1710154.jpg"/><span>Tanya Srivastava</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="contact" style="background-color: black;">
    <div class="profile-container">
      <div class="area" style="z-index:99">
        <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="details">
            <div class="vertical"></div>
            <h3>About Us</h3>
            <p>Team Conatus is the Techno-Managerial
              society of AKGEC, vigilantly keeping an eye on every technical aspects
              and inculcating the managerial traits to a new level. No one can whistle
              a symphony all alone, combined efforts define us, we work as a team growing
              into a new incantation in the conventional era.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact">
            <div class="vertical"></div>
            <h3>Contact us</h3>
            <p>Email us at: &nbsp;teamconatus@gmail.com<br><br>
              Contact us at: &nbsp;9045812537<br>
              7007799127
            </p>
          </div>
        </div>
      </div>
      <hr class="contact-hr">
      <div class="row">
        <div class="col-md-12">
          <div class="footer text-center">
            <p><a href="https://teamconatus.com/" target="_blank">Powered by TEAM CONATUS<img src="/assets/conatus.jpg"></a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
