<div class="container-fluid main">
  <div class="desktop-navbar">
    <nav class="navba navbar-inverse">
      <div class="container">
        <div class="navbar-brand"><img src="../../../../assets/akgec.png"><span style="color: green">
          SAKSHAM</span>
          <span style="color: white;">2019</span></div>
        <ul class="nav justify-content-end">
          <li class="nav-item" (click)="scrollToSection('home')"><a>HOME</a></li>
          <li class="nav-item" (click)="scrollToSection('register')"><a>REGISTER</a></li>
          <li class="nav-item" (click)="scrollToSection('contact')"><a>CONTACT</a></li>
          <li class="nav-item" (click)="scrollToSection('schedule')"><a>SCHEDULE</a></li>
          <li class="nav-item" (click)="scrollToSection('team')"><a>THE TEAM</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="mobile-navbar d-flex justify-content-between align-items-center">
    <div class="navbar-brand"><img src="../../../../assets/akgec.png"><span style="color: green">
          SAKSHAM</span>
      <span style="color: white;">2019</span></div>

    <div  mat-icon-button [matMenuTriggerFor]="menu" class="menu">
      <mat-icon style="-webkit-text-fill-color: #088308" >menu</mat-icon>
    </div>
    <mat-menu #menu="matMenu" class="menu-content" >
      <button mat-menu-item (click)="scrollToSection('home')">HOME</button>
      <button mat-menu-item (click)="scrollToSection('register')">REGISTER</button>
      <button mat-menu-item (click)="scrollToSection('contact')">CONTACT</button>
      <button mat-menu-item (click)="scrollToSection('schedule')">SCHEDULE</button>
      <button mat-menu-item (click)="scrollToSection('team')">THE TEAM</button>
    </mat-menu>
  </div>
  <div class="mainbody" id="home">
    <h2>Fitness and Health<br>is a MENTALITY</h2>
    <h4>Lorum Ipsum cdenm...</h4>
    <button class=" btn btn-success">Register</button>
  </div>
</div>
<div class="container-fluid" id="schedule">
  <div class="row schedule">
    <div class="col-md-12 text-center">
      <div class="schedule-header"><h3><span style="color: green">TODAY'S</span> MATCHES</h3></div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="row text-center">
          <div class="col-md-12 text-center"><img src="/assets/images/badminton.png"></div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="col-left"><b>CSE</b></div>
            <div class="col-right"><b>IT</b></div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12" style="padding-bottom: 3vh"><b>VERSUS<br>FOOTBALL GROUND</b></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="row text-center">
          <div class="col-md-12 text-center"><img src="/assets/images/badminton.png"></div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="col-left"><b>CSE</b></div>
            <div class="col-right"><b>IT</b></div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12" style="padding-bottom: 3vh"><b>VERSUS<br>FOOTBALL GROUND</b></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="row text-center">
          <div class="col-md-12 text-center"><img src="/assets/images/badminton.png"></div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="col-left"><b>CSE</b></div>
            <div class="col-right"><b>IT</b></div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12" style="padding-bottom: 3vh"><b>VERSUS<br>FOOTBALL GROUND</b></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row schedule">
    <div class="schedule-body">
      <div class="vertical"></div>
      <div class="schedule-body-header">
        <h1>THE INTER DEPARTMENTAL SPORTS MEET</h1>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row overview">
    <div class="col-md-12">
      <div class="overview-header text-center">
        <h1><span style="color: green">THRIVE TO BE THE</span> BEST</h1>
      </div>
    </div>
    <div class="col-md-3">
      <div class="overview_matches text-center">
        <h2 [countUp]="234" [options]="options">0<br></h2>
        <h2><span style="color: green">MATCHES</span></h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="overview_matches text-center">
        <div class="overview-vertical"></div>
        <h2 [countUp]="400" [options]="options">0<br></h2>
        <h2><span style="color: green">PARTICIPANTS</span></h2>
      </div>
    </div>

    <div class="col-md-3">
      <div class="overview_matches text-center">
        <div class="overview-vertical"></div>
        <h2 [countUp]="6">0<br></h2>
        <h2><span style="color: green">TEAMS</span></h2>
      </div>
    </div>


    <div class="col-md-3">
      <div class="overview_matches text-center">
        <div class="overview-vertical"></div>
        <h2>1<br> <span style="color: green">CHAMPION</span></h2>
      </div>
    </div>
  </div>
</div>
<div id="register"><app-register></app-register></div>
<div class="container-fluid"id="team" style="background-color: gainsboro;">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="team-header"><h1>THE <span style="color: green"> TEAM</span></h1></div>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Shikhar Agarwal"
        profilePic="/assets/images/1731161.jpeg"
      ></app-profile>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Shikhar Agarwal"
        profilePic="/assets/images/1731161.jpeg"
      ></app-profile>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Shikhar Agarwal"
        profilePic="/assets/images/1731161.jpeg"
      ></app-profile>
    </div>
  </div>
  <div class="row">
    <span style="margin-left: 17%"></span>
    <div class="col-md-offset-2"></div>
    <div class="col-md-4">
      <app-profile
        name="Shikhar Agarwal"
        profilePic="/assets/images/1731161.jpeg"
      ></app-profile>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Shikhar Agarwal"
        profilePic="/assets/images/1731161.jpeg"
      ></app-profile>
    </div>
    <div class="col-md-offset-2"></div>


    <hr class="team-hr">
  </div>
</div>
<div class="container-fluid profile-container" style="background-color: #c9c9c9;">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="team-header"><h1>DEV<span style="color: green">ELOPERS</span></h1></div>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Manvi Srivastava"
        profilePic="/assets/images/1713067.jpeg"
      ></app-profile>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Shikhar Agarwal"
        profilePic="/assets/images/1731161.jpeg"
      ></app-profile>
    </div>
    <div class="col-md-4">
      <app-profile
        name="Tanya Srivastava"
        profilePic="/assets/images/1710154.jpg"
      ></app-profile>
    </div>
  </div>
</div>

<div class="container-fluid profile-container" id="contact" style="background-color: black;">
  <div class="row">
    <div class="col-md-6">
      <div class="details">
        <div class="vertical"></div>
        <h3>Other Details Here</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="contact">
        <div class="vertical"></div>
        <h3>Contact Details Here</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
  <hr class="contact-hr">
  <div class="row">
    <div class="col-md-12">
      <div class="footer text-center">
        Powered by TEAM CONATUS
      </div>
    </div>
  </div>
</div>

