.profile-card {
  width: 30%;
  min-width: 200px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 30%;
  height: 200px;
  background-color: #ededed;
  .profile-pic {
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
  }

  .content {
    margin-top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .link-img {
      width: 25px;
      height: 25px;
      margin: 0 10px;
      margin-top: 30px;
    }
    h3 {
      font-size: large;
      font-weight: bold;
      padding: 10%;
    }
  }
}

.profile-card-md {
  width: 180px;
}
.profile-card-xs {
  margin: 50px 0;
}

.profile-pic-md {
  width: 80px;
  height: 80px;
}

.link-img-md {
  width: 20px;
  height: 20px;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
