@font-face {
  src: url("/assets/do.otf");
  font-family: daggersquare;
}

img {
  padding: 10px;
  height: 80px;
  width: 80px;
}
.mobile-navbar {
  @media screen and (min-width: 786px) and (max-width: 3000px) {
    display: none;

  }
}

.desktop-navbar {
  @media screen and (max-width: 786px) {
    display: none;
  }
}
.nav-item{
  margin-top: 0;
  color: #1f1f1f;
  font-weight: bold;
  font-size: 20px;
}
.container{
  height: 80px;
  font-size: 15px;
}
.navbar-brand {
  span{
    font-size:30px;
    font-family: daggersquare;
    letter-spacing: 2px;
    top: 15% !important;
    vertical-align: middle;
  }
}
.nav {
  float: right;
  padding-right: 50px;
  font-family: daggersquare;
  ul {
    list-style-type: none;
  }
  li {
    display: inline;
    padding: 20px;
  }
  a {
    text-decoration: none;
    color: #1f1f1f;
    //font-weight: bold;
    font-size: 20px;
  }
}
.menu {
  float: right;
}



//AFTER SCROLL

.navbar-scroll {
  padding: 0;
  background: #ed7737;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 2s;
  transition: 2s ease-in-out;
}
.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}
