@import "~bootstrap/dist/css/bootstrap.css";
@import "./themes";

mat-form-field {
  display: block !important;
  height: 55px;
  width: 90%;

}

.mat-menu-panel {
  background: black !important;
  @media screen and (min-width: 786px) and (max-width: 3000px) {
    display: none;
  }
}

.mat-menu-item {
  color: white;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

.typed-cursor {
  display: none !important;
}

.mat-dialog-container{
  background-color: transparent;
  box-shadow: none;
}

