@import "~bootstrap/dist/css/bootstrap.css";
@import "./themes";

mat-form-field {
  display: block !important;
  height: 55px;
}

.mat-menu-panel {
  background: #30000000 !important;
  @media screen and (min-width: 786px) and (max-width: 3000px) {
    display: none;
  }
}

.mat-menu-item {
  color: #fff;
  &:focus {
    outline: none;
  }
}
mat-card{
  //background-color: #c9c9c9 !important;
  border-radius: 35px;

  }
