<div class="header">
  <h1 class="header__name">MEDAL TALLY</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="branch">
    <th mat-header-cell *matHeaderCellDef><h3 style="font-size:20px;font-weight: bold">Branch</h3></th>
    <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
  </ng-container>

  <ng-container matColumnDef="bronze" class="bronze">
    <th mat-header-cell *matHeaderCellDef><img src="/assets/bronze.png" class="medalimage"></th>
    <td mat-cell *matCellDef="let element"> {{element.bronze}} </td>
  </ng-container>

  <ng-container matColumnDef="silver" class="silver">
    <th mat-header-cell *matHeaderCellDef><img src="/assets/silver.png" class="medalimage"></th>
    <td mat-cell *matCellDef="let element"> {{element.silver}} </td>
  </ng-container>

  <ng-container matColumnDef="gold" class="gold">
    <th mat-header-cell *matHeaderCellDef><img src="/assets/gold.png" class="medalimage"></th>
    <td mat-cell *matCellDef="let element"> {{element.gold}} </td>
  </ng-container>

  <ng-container matColumnDef="total" class="tota">
    <th mat-header-cell *matHeaderCellDef><h3 style="font-size:20px;font-weight: bold">Total</h3></th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
