table {
  width: 100%;
  background-color: #e7e7e7;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  position: relative;

}

.header {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: bold;
    letter-spacing: 1.1px;
  }

  &__name {
    color: rgba(8, 131, 8);
    font-family: Krunch;
  }
}
