*body{
	
background-size: 100%;
	background-repeat: no-repeat;
	background-size: 100% 700px;


	text-align: center;
	margin: 90px 0px 70px 400px;

}



	#registeration{
		width: 55%;
		background-color:#010c1f;
		opacity: 0.7;
		padding: 50px 0px;
	}
	#button{
		width: 250px;
		padding: 10px 40px;
		border-radius: 20px;
	}
	#ph{
			width: 25px;
		padding: 10px 40px;
		border-radius: 20px
	}
	#butt{
		width: 200px;
		padding: 10px 40px;
		border-radius: 20px;
		background-color:#3e7e63;
		border: 2px ; 

	}