
	
	
	<div=class="simple-form">
		<form method="post" id="registeration" action="registeration03.html">
			<h1 style="color: white">REGISTER HERE!!</h1>
           <label for="firstname" style="color: white"><b>FIRST NAME</b></label>
			<input type="text" name="fname "   placeholder="enter your firstname" id="button" maxlength="15" required>
			<br><br>
			<label for="lastname" style="color: white"><b>LAST NAME</b></label>
            <input type="text"   name="lname " id="button" placeholder="enter your lastname" maxlength="15" required>
			<br><br>
			<label for="email" style="color: white"><b>EMAIL</b></label>
			<input type="email" name="email"  id="button" placeholder="enter your email" maxlength="30" required>
			<br><br>
			<label for="password" style="color: white"><b>PASSWORD</b></label>
			<input type="password" name="psw" id="button" placeholder="enter your password" maxlength="15" required>
			<br><br>
			
			<label style="color: white" ><b>PHONE NUMBER</b></label>
			<select id="ph">
				<option>+91</option>
				<option>+92</option>
				<option>+93</option>
				<option>+94</option>
			</select>
            <input type="number" name="contact no." id="button" placeholder="enter your contact no." minlength="10" maxlength="15" required >
			<br><br>
			<input type="radio" name="gender" id="rd" required><span id="but" style="color: white">MALE</span><input type="radio" name="gender" id="rd" required><span id="but" style="color: white" > FEMALE</span><br>
			<br>
  

 
     <a href="thirdpage.html"><button type="submit" class="simple-form__btn" id="butt">Register</button></a>
  
</form>